 body {
     background-image:url("");
     background-color: black;
 }

   
    img {
        max-width: 100%;
        height: auto; 
    }
    
    .tab_names {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1.5em;
    }

    .more_news {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1em;
        
    }

    .more_shows {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1em;
    }

    #navbar {
        overflow: hidden;
        background-color: #292929; 
        text-align:center;
        word-spacing:3em;
        color:#FFFFFF;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
          
    }

    

    #news_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
        
        
    }

    .news_new_merch {

        padding-left:4em;
        padding-right:4em;
    }

    .news_info_festival {
        padding-left:4em;
        padding-right:4em;

    }

    .news_breaking_news {

        padding-left:4em;
        padding-right:4em;
    }

    .news_new_merch_picturetext {
        
            
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 4em;
            padding-right: 4em;
        }
         

    
    .line_news {

        border-bottom: 2px solid;
        
    }
    
    #social_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
    }

    /*.spotify {
        max-width: 100%;
        height: 320;
        <--- Virker ikke?
    }
    */

    #shows_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
    }



 
 @media screen and (min-width: 540px) and (max-width: 760px)

 
 
{  
    img {
        max-width: 100%;
        height: auto; 
    }
    
    .tab_names {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1.5em;
    }

    .tab_names_social {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1.5em;
        
    }

    .more_news {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1em;
        
    }

    .more_shows {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1em;
    }

    #navbar {
        overflow: hidden;
        background-color: #292929; 
        text-align:center;
        word-spacing:3em;
        color:#FFFFFF;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
          
    }

    

    #news_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
        
        
    }

    .news_new_merch {

        padding-left:4em;
        padding-right:4em;
    }

    .news_info_festival {
        padding-left:4em;
        padding-right:4em;

    }

    .news_breaking_news {

        padding-left:4em;
        padding-right:4em;
    }

    .news_new_merch_picturetext {
        
            
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 4em;
            padding-right: 4em;
        }
         

    
    .line_news {

        border-bottom: 2px solid;
        
    }
    

    /*.spotify {
        max-width: 100%;
        height: 320;
        <--- Virker ikke?
    }
    */

    #shows_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
    }

    .show_one_macken {

        padding-left:4em;
        padding-right:4em;
    }


}




@media screen and (min-width: 760px) and (max-width: 900px)

{  
    img {
        max-width: 100%;
        height: auto; 
    }
    
    .tab_names {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1.5em;
        padding-left: 9em;
        padding-right: 12em;
    }

    .tab_names_social {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1.5em;
        padding-left: 9em;
        padding-right: 0em;
    }

    .more_news {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1em;
        
    }

    .more_shows {

        color:#FFFFFF;
        text-shadow:-1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
        font-size: 1em;
    }

    #navbar {
        overflow: hidden;
        background-color: #292929; 
        text-align:center;
        word-spacing:3em;
        color:#FFFFFF;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
          
    }

    

    #news_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 8em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
        
        
    }

    .news_new_merch {

        padding-left:9em;
        padding-right:14em;
    }

    .news_info_festival {
        padding-left:9em;
        padding-right:14em;

    }

    .news_breaking_news {

        padding-left:9em;
        padding-right:14em;
    }

    .news_new_merch_picturetext {
        
            
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-left: 4em;
            padding-right: 4em;
        }
         

    
    .line_news {

        border-bottom: 2px solid;
        
    }
    

    /*.spotify {
        max-width: 100%;
        height: 320;
        <--- Virker ikke?
    }
    */

    #shows_home_tab {
        background-color: #292929;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 1em;
        padding-top: 0em;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
    }

    .show_one_macken {

        padding-left:9em;
        padding-right:14em;
    }


}



@media screen and (min-width: 810px)

{
    
}































 

