 body {
     background-image:url("");
     background-color: black;
 }
 
 @media screen and (min-width:500px)

 
 
{  
    img {
        max-width: 100%;
        height: auto; 
    }
    
    
    #navbar {
        overflow: hidden;
        background-color: gray;   
    }

    #news_home_tab {
        background-color: darkgray;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 3em;
        border-width: 0.3em;
        border-style: solid;
        border-color:grey;
        
    }
    .line_news {

        border-bottom: 2px solid;
        
    }
    /*
    .news_new_merch {
        display: grid;
        grid-template-columns:auto;
        gap: 0px;
        grid-auto-rows: minmax(10px, auto);
        background-color: darkgray;
    }

    .news_info_festival {
        display: grid;
        grid-template-columns:auto;
        gap: 0px;
        grid-auto-rows: minmax(10px, auto);
        background-color: darkgray;
    }

    .news_breaking_news {
        display: grid;
        grid-template-columns:auto;
        gap: 0px;
        grid-auto-rows: minmax(10px, auto);
        background-color: darkgray;
    }
    */
    #social_home_tab {
        background-color: darkgrey;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 2em;
        border-width: 0.3em;
        border-style: solid;
        border-color:grey;
    }

    #shows_home_tab {
        background-color: darkgrey;
        display: grid;
        grid-column: 1fr,;
        grid-row:1ft;
        gap: 0px;
        margin: 6em;
        padding: 2em;
        border-width: 0.3em;
        border-style: solid;
        border-color:grey;
    }


}




































 

