body {
    background-image:url("Coffinshakers.jpg");
    background-color: black;
}

@media screen and (min-width: 540px) and (max-width: 760px) 
{
   img {
       max-width: 100%;
       height: auto;
   }

   a:link {

    color:white;
    
}

a:visited {

    color:white;
    
}
   
   
   #navbar {
    overflow: hidden;
    background-color: #292929; 
    text-align:center;
    word-spacing:3em;
    color:#FFFFFF;
    border-width: 0.1em;
    border-style: solid;
    border-color:#848484;
      
}

   

   Body {
       background-color: black;
   }
       .Storecovers {
        max-width: 80vw;
        overflow: hidden;
        margin: 0 auto;
     border: 20px solid grey; 

     max-width: 100%;
    width: 100%;
       }

    .Itemtitel {
        color: whitesmoke;
        font-size: x-large;
        text-align: center;
     
    }
   




    @media screen and (min-width: 760px) and (max-width: 900px)

    {
        img {
            max-width: 100%;
            height: auto; 
        }
    
        a:link {
    
            color:white;
            
        }
    
        a:visited {
    
            color:white;

    }

    #navbar {
        overflow: hidden;
        background-color: #292929; 
        text-align:center;
        word-spacing:3em;
        color:#FFFFFF;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
          
    }

    }
} 

@media screen and (min-width: 900px)

{
    .header_picture {
        max-width: 100%;
        height: auto;
        padding-left:6em;
        padding-right:6em; 
    }

    a:link {

        color:white;
        
    }

    a:visited {

        color:white;
        
    }

    #navbar {
        overflow: hidden;
        background-color: #292929; 
        text-align:center;
        word-spacing:10em;
        color:#FFFFFF;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
        padding: 1em;
        margin-right: 6em;
        margin-left: 6em;

}
}