Body {
    background-color: black;
}

@media screen and (min-width:500px) 
{
   img {
       max-width: 100%;
       height: auto;
   }

   a:link {

    color:white;
    
}

a:visited {

    color:white;
    
}
   
   
   #navbar {
    overflow: hidden;
    background-color: #292929; 
    text-align:center;
    word-spacing:3em;
    color:#FFFFFF;
    border-width: 0.1em;
    border-style: solid;
    border-color:#848484;
      
}

   

   Body {
       background-color: black;
   }
       .Storecovers {
        max-width: 80vw;
        overflow: hidden;
        margin: 0 auto;
     border: 20px solid grey; 

     max-width: 100%;
    width: 100%;
       }

    .Itemtitel {
        color: whitesmoke;
        font-size: x-large;
        text-align: center;
     
    }
   

} 