body {
    background-image:url("");
    background-color: black;
}

@media screen and (min-width:500px) 
{
   img {
       max-width: 100%;
       height: auto;
   }

   a:link {

    color:white;
    
}

a:visited {

    color:white;
    
}
   
   
   #navbar {
    overflow: hidden;
    background-color: #292929; 
    text-align:center;
    word-spacing:3em;
    color:#FFFFFF;
    border-width: 0.1em;
    border-style: solid;
    border-color:#848484;
    font-size: large;
      
}

   .site_under_construction {

    color:white;
    font-size: large;
   }

} 