<<<<<<< HEAD


@media screen (min-width:250px)



#navbar {
    
    overflow: hidden;
    background-color:grey;


}


=======
@media screen and (min-width:500px) 
{
   img {
       max-width: 100%;
       height: auto;
   }
   
   
   #navbar {
   
       overflow: hidden;
       background-color: grey;
       
   }

} 
>>>>>>> 2e7c7620e40f071c792b10c170427ebbf1383911
