@media screen and (min-width: 540px) and (max-width: 760px)
{
    .gridcontainer {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        /*grid-template-rows: auto;*/
    } 
    
    img {
        max-width: 100%;
        height: auto; 
    }


    #navbar {
        
        overflow: hidden;
        background-color: #292929; 
        text-align:center;
        word-spacing:3em;
        color:#FFFFFF;
        border-width: 0.1em;
        border-style: solid;
        border-color:#848484;
        font-size: large;
        
        
        
        
    }

    a:link {

        color:white;
        
    }

    a:visited {

        color:white;
        
    }


}


.albums {
    display: grid;
    max-width: auto;
    overflow: hidden;
    margin: 0 auto;
<<<<<<< Updated upstream
    border: 0.5em outset grey; 
=======
 
>>>>>>> Stashed changes
 
}

.albums__albumcover {
    max-width: 100%;
    width: 100%;
 

}
.albums__albumtitle {
    color: #FFFFFF;
    font-size: x-large;
    text-align: center;


    
  
    
}
body {
    background-color: black;
   
}